@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* reset */
* {padding: 0;margin: 0;box-sizing: border-box;font-family:inherit;font-weight: inherit;list-style: none;text-decoration: none;color: inherit;}
html {display: block;font-size: 100%;scroll-behavior: smooth;height: 100%;}
body {height: 100%;}
button {cursor: pointer;border: none;background: none;}

:root {
  --gray-900: #161A25;
  --gray-800: #161a258f;
  --gray-100: #F2F4F8;
  --gray-50: #F6F7F9;
  --blue-400: #0D8AFC;
  --green-400: #33F0B0;
  --rad-400: #dd2828;
  --gradient: linear-gradient(135deg, #0D8AFC 32.14%, #33F0B0 145.63%);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;
  font-weight: 600;
  background: var(--gray-50);
}

.app {
  padding: 0 .625rem;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

/* keyframes */

@keyframes blink {
  0%{
    color: var(--gray-800);
  }
  50%{
    color: rgba(22, 26, 37, .2);
  }
  100% {
    color: var(--gray-800);
  }
}

@keyframes tremor {
  0%{
    transform: scale(1.5) rotate(25deg);
  }
  25% {
    transform: scale(1.5) rotate(0);
  }
  50% {
    transform: scale(1.5) rotate(-25deg);
  }
  75% {
    transform: scale(1.5) rotate(0);
  }
  100% {
    transform: scale(1.5) rotate(25deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
}

.header__wrapp {
  background: var(--gray-100);
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.5), 10px 15px 30px rgba(22, 25, 36, 0.1);
  border-radius: 2rem;
  padding: .75rem;
}

.header__wrapp ul {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}

.header__wrapp li {
  cursor: pointer;
  font-size: 1.3em;
  padding: .625rem 1.4375rem;
  background: #edf0f5;
  color: var(--gray-800);
  border-radius: 2rem;
  transition: .3s ease;
}

@media (any-hover: hover) {
  .header__wrapp li:hover {
    box-shadow: inset -4px -2px 4px #FFFFFF, inset 4px 4px 4px rgba(22, 25, 36, 0.005);
  }
}

.header__wrapp li.active {
  box-shadow: inset -4px -2px 4px #FFFFFF, inset 4px 4px 4px rgba(22, 25, 36, 0.1);
  color: var(--gray-900);
}

@media screen and (max-width: 424px) {
  .header {
    display: block;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    padding-top: .625rem;
  }
  .header__wrapp ul {
    gap: .3125rem;
    justify-content: space-between;
  }
  .header__wrapp li {
    font-size: .875rem;
    padding: 7px 16px;
  }
}

/* clock */

.clock {
  display: none;
  padding: 3.125rem 0;
}
.clock__wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__body {
  position: relative;
  width: 80vmin;
  max-width: 37.5rem;
}

.clock__body::before {
  position: absolute;
  z-index: 2;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: #eff2f7;
  box-shadow: -8px -8px 20px #FFFFFF, 
    1px 1px 15px rgba(22, 25, 36, 0.1), 
    inset -1px -1px 15px rgba(255, 255, 255, 0.5), 
    inset 1px 1px 15px rgba(22, 25, 36, 0.15);
  border-radius: 50%;
}

.clock__circle {
  position: relative;
  width: 100%;
  padding: 50% 0;
  border-radius: 50%;
  background: #EFF2F7;
  box-shadow: -8px -8px 20px #FFFFFF, 
    8px 8px 20px rgba(22, 25, 36, 0.1), 
    inset -8px -8px 20px rgba(255, 255, 255, 0.5), 
    inset 8px 8px 20px rgba(22, 25, 36, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__circle::before {
  position: absolute;
  z-index: 1;
  content: '';
  width: 80%;
  height: 80%;
  background: linear-gradient(133.13deg, #EFF2F7 47.78%, rgba(201, 210, 226, 0.4) 86.98%);
  box-shadow: 10px 10px 60px rgba(22, 25, 36, 0.2);
  border-radius: 50%;
}

.clock__circle::after {
  position: absolute;
  content: '';
  z-index: 3;
  width: 3%;
  height: 3%;
  background: var(--blue-400);
  box-shadow: 4px 4px 10px rgba(22, 25, 36, 0.15);
  border: 8px solid #fff;
  border-radius: 50%;
}

.clock__circle i {
  position: absolute;
  z-index: 3;
  transform: rotate(0deg);
  border-radius: 5px;
  background: var(--gradient);
  box-shadow: 10px 4px 10px rgba(22, 25, 36, 0.28);
}

.clock__circle i:nth-child(1) {
  width: 7px;
  height: 20%;
  top: calc(50% - 20%);
  transform-origin: center calc(100% - calc(7px / 2));
}

.clock__circle i:nth-child(2) {
  width: 4px;
  height: 27%;
  top: calc(50% - 27%);
  transform-origin: center calc(100% - calc(4px / 2));
}

.clock__circle i:nth-child(3) {
  width: 2px;
  height: 35%;
  top: calc(50% - 35%);
  background: var(--rad-400);
  transform-origin: center calc(100% - calc(2px / 2));
}

.clock__dots span {
  position: absolute;
  z-index: 3;
  width: 6%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-800);
  font-style: normal;
  font-size: 2.2vmax;
}

.clock__dots span:nth-child(1) {
  top: 13%;
  left: calc(50% - calc(6% / 2));
}

.clock__dots span:nth-child(2) {
  bottom: 13%;
  left: calc(50% - calc(6% / 2));
}

.clock__dots span:nth-child(3) {
  left: 13%;
  top: calc(50% - calc(6% / 2));
}

.clock__dots span:nth-child(4) {
  right: 13%;
  top: calc(50% - calc(6% / 2));
}

/* timer */

.timer {
  padding: 3.125rem 0;
}

.timer__wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.875rem;
}

.timer-block {
  display: none;
}

.timer-block.active {
  display: flex;
}

.timer__start {
  position: relative;
  padding: 3.125rem 4.6875rem 3.125rem 3.75rem;
  /* padding: calc(30px + calc(50 - 30) * ((100vw - 320px) / (2560 - 320))); */
  background: #EEF0F7;
  box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(22, 25, 36, 0.1), inset -8px -8px 20px rgba(255, 255, 255, 0.5), inset 8px 8px 20px rgba(22, 25, 36, 0.15);
  border-radius: 6.25rem;

  align-items: center;
  gap: 2.1875rem;
}

.timer__start .abs-timer-label {
  position: absolute;
  top: 50%;
  font-size: 15px;
  color: var(--gray-800);
}

.timer__start .abs_hours {
  left: 31%;
}

.timer__start .abs_minutes {
  left: 56%;
}

.timer__start .abs_seconds {
  left: 80%;
}

@media screen and (max-width: 425px) {
  .timer__start {
    padding: 1.5625rem 2.8125rem 1.5625rem 1.5625rem;
    gap: 1.875rem;
  }
  .abs_hours {
    left: 27%;
  }
  .abs_seconds {
    left: 85%;
  }
}

.timer__start ul {
  max-height: 4.0625rem;
}

.timer__start li {
  font-size: 1rem;
  line-height: 1.5625rem;
  color: var(--gray-800);
  cursor: grab;
  text-align: center;
}

.timer__start li span {
  font-size: 3em;
  line-height: 130%;
  user-select: none;
}

.timer__clock {
  position: relative;
  width: 80vmin;
  max-width: 37.5rem;
}

.timer__clock.scale {
  animation: scale .8s linear infinite;
}

.timer__clock svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timer__clock circle {
  fill: transparent;
  transform: rotate(-90deg);
}

.timer__clock circle:nth-child(2) {
  stroke: var(--green-400);
  stroke-width: 9%;
  stroke-dasharray: 0 284%;
  transition: .35s ease;
}

.timer__circle {
  position: relative;
  width: 100%;
  padding: 50% 0;
  border-radius: 50%;
  background: #EFF2F7;
  box-shadow: -8px -8px 20px #FFFFFF, 
    8px 8px 20px rgba(22, 25, 36, 0.1), 
    inset -8px -8px 20px rgba(255, 255, 255, 0.5), 
    inset 8px 8px 20px rgba(22, 25, 36, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__circle::before {
  position: absolute;
  z-index: 1;
  content: '';
  width: 80%;
  height: 80%;
  background: linear-gradient(133.13deg, #EFF2F7 47.78%, rgba(201, 210, 226, 0.4) 86.98%);
  box-shadow: 10px 10px 60px rgba(22, 25, 36, 0.2);
  border-radius: 50%;
}

.timer__time {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--gray-800);
}

.timer__time ul {
  display: flex;
  align-items: center;
  gap: .3125rem;
}

.timer__time li {
  font-size: calc(30px + calc(80 - 30) * ((100vw - 320px) / (2560 - 320)));
}

.timer__end {
  display: flex;
  align-items: center;
  gap: .3125rem;
  opacity: .8;
  color: var(--gray-800);
}

.timer__end span {
  font-size: calc(16px + calc(26 - 16) * ((100vw - 320px) / (2560 - 320)));
}

.timer__end img {
  width: 1rem;
  opacity: .5;
}

.timer__end img.active {
  animation: tremor .25s linear infinite;
}

.timer__buttons {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__buttons div {
  background: var(--gray-100);
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.5), 10px 15px 30px rgba(22, 25, 36, 0.1);
  border-radius: 2rem;
  padding: .5rem .75rem;
  display: flex;
  gap: .625rem;
}

.timer__buttons button {
  padding: .625rem 1.25rem;
  background: var(--gray-50);
  background: #edf0f5;
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.5), 4px 4px 10px rgba(22, 25, 36, 0.1);
  color: rgba(22, 26, 37, .1);
  border-radius: 2rem;
  border: 2px solid var(--gray-50);
  transition: .3s;

  cursor: auto;
  pointer-events: none;
}

@media (any-hover: hover) {
  .timer__buttons button:hover {
    box-shadow: inset -2px -2px 2px #fff, inset 2px 2px 2px rgba(22, 25, 36, 0.1);
  }
}

.timer__buttons button.active {
  cursor: pointer;
  pointer-events: all;
  color: var(--gray-800);
}

.timer__buttons button.hidden {
  display: none;
}

.timer__buttons button.pause {
  box-shadow: inset -2px -2px 2px #FFFFFF, inset 4px 4px 4px rgba(22, 25, 36, 0.1);
  animation: blink 1s linear infinite;
}